.container {
  height: 60px;
  color: white;

  display: flex;
  justify-content: stretch;
  align-items: center;
}

.container:hover {
  background-color: rgb(250, 250, 250, 0.2);
}

.controls {
  margin-right: 10px;
}

.audio {
  display: none;
}